* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}


/*十字架居中对齐*/
.cross {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -165px 0 0 -165px;
}

.left,
.center,
.right,
.top,
.bottom {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
    -webkit-box-shadow: 0px 0px 3px 3px #888888;

}

.top {
    position: relative;
    left: 111px;
    clear: right;
    background-color: red;
}

.left {
    clear: left;
    background-color: green;
}


/*设置图片居中对齐*/

.center {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.center img {
    height: 64px;
    width: 64px;
}

.right {
    clear: right;
    background-color: green;
}

.bottom {
    clear: left;
    position: relative;
    left: 111px;
    background-color: red;
}
