/*全局开始*/

td {
    font-size: 12px;
    line-height: 150%;
    text-decoration: none;
    color: #333333;
}

body {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px;
    background-color: #ffffff;
    background-image: url("../img/beijing.gif");
    color: #000000;
}

.center {
    display: block;
    text-align: -webkit-center;
    padding: 0;
}


/*全局结束*/


/*a标签伪类设置开始*/

a:link {
    color: #333333;
    text-decoration: none
}

a:visited {
    color: #333333;
    text-decoration: none
}

a:hover {
    color: #CC0000;
    text-decoration: none
}

a:active {
    color: yellow;
    text-decoration: none
}

.link:link {
    color: #0000cc;
    font-size: 12px;
    text-decoration: underline
}

.link:visited {
    color: #0000cc;
    font-size: 12px;
    text-decoration: underline
}

.link:hover {
    color: #ff0000;
    font-size: 12px;
    text-decoration: underline
}


/*a标签伪类设置结束*/


/*头部开始*/

.header,
.tbody_header,
.tr_header,
.td_header {
    border: 0px solid #ff5555;
    border-collapse: collapse;
}

.header {
    width: 710px;
    background-color: rgb(255, 255, 255);
    border: 0;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.header>tbody>tr>td:first-child {
    width: 29px;
    height: 28px;
    padding: 0;
    vertical-align: top;
}

.header>tbody>tr>td:nth-child(2) {
    width: 220px;
    height: 72px;
    display: table-cell;
    vertical-align: inherit;
}

.header>tbody>tr>td:nth-child(3) {
    text-align: -webkit-right;
    vertical-align: bottom;
}

.header>tbody>tr>td:nth-child(3)>a>font {
    color: rgb(255, 0, 153);
}

.header>tbody>tr>td:last-child {
    width: 29px;
    height: 28px;
    padding: 0;
    display: table-cell;
    vertical-align: right;
    vertical-align: top;
}


/*头部结束*/


/*中间部分开始*/

.middle {
    width: 710px;
    background-color: rgb(255, 255, 255);
}

.middle>tbody>tr>td {
    text-align: -webkit-center;
}

.titleinfo {
    font-size: 18px;
    font-weight: bold;
}

.content,
.tbody_content,
.tr_content,
.td_content {
    border: 1px solid #DADADA;
    border-collapse: collapse;
}

.content {
    width: 90%;
    background-color: #cccccc;
}

.content>tbody>tr:first-child>td {
    text-align: center;
    background-image: url("../img/beijin1.gif");
}


/*设置小标题*/

#titleName {
    background-color: #eeeeee;
    text-align: left;
}

.p13 {
    font-size: 13px;
}


/*左边*/

.content>tbody>tr:nth-child(n+3)>td:first-child {
    background-color: #ffffff;
    text-align: right;
}


/*右边*/

.content>tbody>tr:nth-child(n+3)>td:last-child {
    width: 496px;
    background-color: #ffffff;
    color: blue;
}


/*设置输入框灰色*/

.content>tbody>tr:nth-child(n+3)>td:last-child>input {
    color: rgb(120, 120, 120);
}

.checkbox,
.tbody_checkbox,
.tr_checkbox {
    border: 0px solid #ff5555;
    border-collapse: collapse;
}

.checkbox {
    width: 100%;
}

.content>tbody>tr:nth-last-child(5)>td {
    color: gray;
}


/*尾部*/


/*.footer>tbody>tr:last-child>td:first-child>img{
padding: 0;
margin: 0;
}
*/

.footer {
    width: 710px;
    text-align: center;
    background-color: #FFFFFF;
}

.footer,
.tbody_footer,
.tr_footer,
.td_footer {
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    border: 0px solid #ff5555;
    overflow: hidden;
}
