div {
    padding: 0;
    margin: 0;
}

.content {
    width: 524px;
    height: 296px;
    /*background-color: #000;*/
    /*background-image: url(../img/car.jpg);*/
    background-repeat: no-repeat;
    position: relative;
    top: 100px;
    margin: 0 auto;
    opacity: 0.5;
}


/*车头部*/

.header {
    width: 123px;
    height: 87px;
    border: 5px solid #000;
    border-right-color: transparent;
    border-bottom-left-radius: 20px 20px;
    border-top-left-radius: 95px 73px;
    position: absolute;
    left: 38px;
    top: 121px;
    z-index: -999;
}


/*车灯*/

.header div {
    width: 13px;
    height: 21px;
    border: 5px solid #000;
    border-bottom-right-radius: 25px 23px;
    border-top-right-radius: 25px 19px;
    position: absolute;
    left: 23px;
    top: 21px;
}


/*车尾*/

.footer {
    width: 72px;
    height: 87px;
    border: 5px solid #000;
    border-left-color: transparent;
    border-bottom-right-radius: 77px 20px;
    border-top-right-radius: 59px 62px;
    position: absolute;
    left: 403px;
    top: 118px;
    z-index: -999;
}


/*车窗1*/

.window1 {
    width: 94px;
    height: 61px;
    border: 5px solid #000;
    border-bottom-left-radius: 1px 10px;
    border-bottom-right-radius: 20px 8px;
    border-top-left-radius: 80px 73px;
    position: absolute;
    left: 185px;
    top: 55px;
    z-index: -999;
}


/*车窗2*/

.window2 {
    width: 81px;
    height: 61px;
    border: 5px solid #000;
    border-bottom-left-radius: 1px 10px;
    border-bottom-right-radius: 20px 8px;
    border-top-right-radius: 80px 73px;
    position: absolute;
    left: 300px;
    top: 55px;
    z-index: -999;
}


/*车顶部*/

.top {
    width: 233px;
    height: 77px;
    border: 5px solid #000;
    border-top-right-radius: 80px 73px;
    border-top-left-radius: 95px 72px;
    border-bottom-color: transparent;
    position: absolute;
    left: 164px;
    top: 39px;
    z-index: -999;
}


/*车底部*/

.bottom {
    width: 184px;
    height: 10px;
    background-color: transparent;
    border: 5px solid #000;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    left: 180px;
    top: 197px;
}

.bottom,
.top,
.header,
.footer,
.window1,
.window2{
    -webkit-animation: shake 1s linear infinite;
    -moz-animation: shake 1s linear infinite;

}


/*车轮子*/

.cycle1 {
    width: 72px;
    height: 72px;
    border: 7px solid #000;
    position: absolute;
    top: 168px;
    left: 101px;
    background-color: #fff;
    border-top-left-radius: 51px;
    border-top-right-radius: 49px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-animation: cycle 1s linear infinite;
    -moz-animation: cycle 1s linear infinite;

}

.cycle1 div {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
}

.cycle2 {
    width: 72px;
    height: 72px;
    border: 7px solid #000;
    position: absolute;
    top: 161px;
    left: 364px;
    background-color: #fff;
    border-top-left-radius: 48px;
    border-top-right-radius: 49px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    -webkit-animation: cycle 1s linear infinite;
    -moz-animation: cycle 1s linear infinite;

}

.cycle2 div {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;
}

@-webkit-keyframes cycle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    30% {
        -webkit-transform: rotate(-120deg);
    }
    60% {
        -webkit-transform: rotate(-240deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes cycle {
    0% {
        -moz-transform: rotate(0deg);
    }
    30% {
        -moz-transform: rotate(-120deg);
    }
    60% {
        -moz-transform: rotate(-240deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(5px);
    }
    70% {
        -webkit-transform: translateY(3px);
    }
    100% {
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes shake {
    0% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(5px);
    }
    70% {
        -moz-transform: translateY(3px);
    }
    100% {
        -moz-transform: translateY(0px);
    }
}
